<% if (!remitos || remitos.length === 0) { %>
  <div class="no-products">
      <h2>No hay Remitos</h2>
      <!-- Optionally add a reload or back button -->
      <button onclick="location.reload();">Recargar</button>
  </div>
<% } else { %>
  <table class="table" id="products-table">
      <thead>
          <tr>
              <th scope="col">Fecha</th>
              <th scope="col">Numero</th>
              <th scope="col">Producto</th>
              <th scope="col">Destino</th>
              <th scope="col">Peso Neto</th>
              <th scope="col">Transportista</th>
          </tr>
      </thead>
      <tbody>
          <% remitos.forEach(remito => { %>
              <tr>
                  <td><%= remito.fecha %></td>
                  <td><%= remito.numero %></td>
                  <td><%= remito.producto %></td>
                  <td><%= remito.destinatario %></td>
                  <td><%= remito.neto %></td>
                  <td><%= remito.transportista %></td>
              </tr>
          <% }) %>
      </tbody>
  </table>
<% } %>
